<% include ../partials/header.ejs %>

  <div class="container-fluid">
    <table class="table">
      <thead>
        <!-- Column name -->
        <tr>
          <th>#</th>
          <th>Candidate Name</th>
          <th>Office Running</th>
          <th>Political Party</th>
          <th>Link</th>
          <th>Intended date to call</th>
        </tr>
      </thead>
      <tbody>
        <% phonebank.forEach(function(phonebank) { %>
          <tr>
            <th scope="row">1</th>
            <td><%=phonebank.candidateName%></td>
            <td><%=phonebank.officeRunning%></td>
            <td><%=phonebank.politicalParty%></td>
            <td><%=phonebank.phonebankLink%></td>
            <td><%=phonebank.intendedDate%></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

<% include ../partials/footer.ejs %>
