<% include ../partials/header.ejs %>

<div id="main">
  <div class="inner">

    <!-- Table -->
    <section>
        <h2>Phonebank</h2>
        <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Candidate Name</th>
              <th>Office Running</th>
              <th>Political Party</th>
              <th>Link</th>
              <th>Intended date to call</th>
            </tr>
          </thead>
          <tbody>
            <% phonebank.forEach(function(phonebank) { %>
              <tr>
                <td><%=phonebank.candidateName%></td>
                <td><%=phonebank.officeRunning%></td>
                <td><%=phonebank.politicalParty%></td>
                <td><%=phonebank.phonebankLink%></td>
                <td><%=phonebank.intendedDate%></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>

<% include ../partials/footer.ejs %>
