<% include ../partials/header.ejs %>

<div id="main">
  <div class="inner">
    <!-- Search -->
    <section>
      <form action="../phonebank/search" method="POST">
        <!-- Candidate Name -->
        <div class="row uniform">
          <div class="12u">
            <input type="text" class="form-inline" name="keyword" placeholder="Search by Candidate Name, Location, Office or Party">
          </div>
        </div>
      </form>
    </section>
    <!-- Table -->
    <section>
        <h2>Phonebank</h2>
        <div class="table-wrapper">
        <table id="dynatable">
          <thead>
            <tr>
              <th>Candidate Name</th>
              <th>Location</th>
              <th>Office Sought</th>
              <th>Party</th>
              <th>Link</th>
              <th>Call Date</th>
            </tr>
          </thead>
          <tbody>
            <% phonebank.forEach(function(phonebank) { %>
              <tr>
                <td><%=phonebank.candidate%></td>
                <td><%=phonebank.location%></td>
                <td><%=phonebank.office%></td>
                <td><%=phonebank.party%></td>
                <td><a href ="<%=phonebank.link%>">Link</a></td>
                <td><%=phonebank.callDate%></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>

<% include ../partials/footer.ejs %>
