<% include ../partials/header.ejs %>

<div id="main">
  <div class="inner">
    <!-- Search -->
    <section>
      <form action="../campaign/search" method="POST">
        <div class="row uniform">
          <div class="12u">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="text" class="form-inline" name="keyword" placeholder="Search by Candidate Name, Office or Party">
          </div>
        </div>
      </form>
    </section>
    <!-- Table -->
    <section>
        <h2>Campaign</h2>
        <div class="table-wrapper">
          <table>
            <thead>
              <tr>
                <th>Candidate Name</th>
                <th>Office Sought</th>
                <th>Party</th>
                <th>Election Date</th>
                <th>Link</th>
              </tr>
            </thead>
            <tbody>
              <% campaign.forEach(function(campaign) { %>
                <tr>
                  <td><%=campaign.candidate%></td>
                  <td><%=campaign.office%></td>
                  <td><%=campaign.party%></td>
                  <td><%=campaign.electionDate%></td>
                  <td><%=campaign.zipcode%></td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>

<% include ../partials/footer.ejs %>
